name: Build And Publish

on:
  workflow_dispatch:
  schedule:
  - cron:  '0 * * * *'
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# ONLY EVER RUN ONE
concurrency: ${{ github.workflow }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build static site
      run: |
        go run cmd/zwiftcal/main.go

    - name: Publish to Cloudflare Pages
      id: deploy
      uses: cloudflare/wrangler-action@v3
      if: ${{ github.actor != 'dependabot[bot]' }}
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{secrets.CLOUDFLARE_ACCOUNT_ID }}
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
        command: |
          pages deploy public/ --project-name=zwift-ical --branch=main
        

